#include "secrets.h"

// Fill in your keys and rename this to secrets.c.

const char *twitter_access_token = "";
const char *twitter_access_token_secret = "";

const char *twitter_consumer_key = "";
const char *twitter_consumer_secret = "";
